{% if 'champions-league' in request.path and "group-a" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-a" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-a" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-a" %}">Table</a>

{% elif 'champions-league' in request.path and "group-b" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-b" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-b" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-b" %}">Table</a>

{% elif 'champions-league' in request.path and "group-c" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-c" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-c" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-c" %}">Table</a>

{% elif 'champions-league' in request.path and "group-d" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-d" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-d" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-d" %}">Table</a>

{% elif 'champions-league' in request.path and "group-e" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-e" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-e" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-e" %}">Table</a>

{% elif 'champions-league' in request.path and "group-f" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-f" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-f" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-f" %}">Table</a>

{% elif 'champions-league' in request.path and "group-g" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-g" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-g" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-g" %}">Table</a>

{% elif 'champions-league' in request.path and "group-h" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "champions-league" "group-h" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "champions-league" "group-h" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "champions-league" "group-h" %}">Table</a>

{% elif 'europa-league' in request.path and "group-a" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-a" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-a" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-a" %}">Table</a>

{% elif 'europa-league' in request.path and "group-b" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-b" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-b" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-b" %}">Table</a>

{% elif 'europa-league' in request.path and "group-c" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-c" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-c" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-c" %}">Table</a>

{% elif 'europa-league' in request.path and "group-d" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-d" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-d" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-d" %}">Table</a>

{% elif 'europa-league' in request.path and "group-e" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-e" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-e" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-e" %}">Table</a>

{% elif 'europa-league' in request.path and "group-f" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-f" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-f" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-f" %}">Table</a>

{% elif 'europa-league' in request.path and "group-g" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-g" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-g" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-g" %}">Table</a>

{% elif 'europa-league' in request.path and "group-h" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "europa-league" "group-h" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "europa-league" "group-h" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "europa-league" "group-h" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-a" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-a" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-a" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-a" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-b" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-b" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-b" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-b" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-c" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-c" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-c" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-c" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-d" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-d" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-d" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-d" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-e" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-e" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-e" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-e" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-f" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-f" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-f" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-f" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-g" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-g" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-g" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-g" %}">Table</a>

{% elif 'african-nations-championship' in request.path and "group-h" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "african-nations-championship" "group-h" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "african-nations-championship" "group-h" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "african-nations-championship" "group-h" %}">Table</a>

{% elif 'copa-america' in request.path and "group-a" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "copa-america" "group-a" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "copa-america" "group-a" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "copa-america" "group-a" %}">Table</a>

{% elif 'copa-america' in request.path and "quarter-finals" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "copa-america" "quarter-finals" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "copa-america" "quarter-finals" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "copa-america" "quarter-finals" %}">Table</a>

{% elif 'copa-america' in request.path and "semi-finals" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "copa-america" "semi-finals" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "copa-america" "semi-finals" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "copa-america" "semi-finals" %}">Table</a>

{% elif 'copa-america' in request.path and "third-place-play-off" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "copa-america" "third-place-play-off" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "copa-america" "third-place-play-off" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "copa-america" "third-place-play-off" %}">Table</a>

{% elif 'copa-america' in request.path and "finals" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "copa-america" "finals" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "copa-america" "finals" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "copa-america" "finals" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-a" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-a" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-a" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-a" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-b" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-b" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-b" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-b" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-c" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-c" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-c" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-c" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-d" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-d" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-d" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-d" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-e" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-e" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-e" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-e" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-f" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-f" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-f" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-f" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-g" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-g" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-g" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-g" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-h" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-h" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-h" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-h" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-i" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-i" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-i" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-i" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-j" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-j" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-j" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-j" %}">Table</a>

{% elif 'africa-cup-of-nations-qualification' in request.path and "qualification-group-k" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-k" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-k" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "africa-cup-of-nations-qualification" "qualification-group-k" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-a-group-1" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-1" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-a-group-1" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-a-group-1" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-a-group-2" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-2" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-a-group-2" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-a-group-2" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-a-group-3" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-3" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-a-group-3" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-a-group-3" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-a-group-4" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-4" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-a-group-4" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-a-group-4" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-b-group-1" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-1" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-b-group-1" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-b-group-1" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-b-group-2" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-2" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-b-group-2" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-b-group-2" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-b-group-3" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-3" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-b-group-3" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-b-group-3" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-b-group-4" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-4" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-b-group-4" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-b-group-4" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-c-group-1" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-1" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-c-group-1" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-c-group-1" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-c-group-2" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-2" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-c-group-2" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-c-group-2" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-c-group-3" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-3" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-c-group-3" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-c-group-3" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "league-c-group-4" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-4" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "league-c-group-4" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "league-c-group-4" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "semi-finals" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "semi-finals" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "semi-finals" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "semi-finals" %}">Table</a>

{% elif 'concacaf-nations-league' in request.path and "finals" in request.path %}

<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'resultsBycompetion' "concacaf-nations-league" "finals" %}">Results</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'fixturesBycompetion' "concacaf-nations-league" "finals" %}">Fixtures</a>
<a class="btn btn-info" style="background-color: #01d099;" href="{% url 'tablesBycompetion' "concacaf-nations-league" "finals" %}">Table</a>

{% endif %}